{{!-- <li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newsdevoured="{{devoured}}">
		{{#if devoured}}eaten{{else}}uneaten{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li> --}}
